div.square{
    background-color: #dde18a;
    width: 50px;
    height: 50px;
    transition: all .5s;
    border-radius: 5px;


}
div.square:hover{
    background-color: #d90eeb;
}
div.move{
    width: 100px;
    height: 70px;
    border: 2px solid blue;    
}
.other{
    width: 100px;
    height: 70px;
    border: 2px solid blue;  
    position: relative;   
    animation: moving 4s;
    animation-iteration-count: 3;
}
@keyframes moving{
    0%   {left:0px; top:0px;}
  25%  {left:0px; top:100px;}
  50%  {left:60px; top:100px;}
}




table,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}
@media only screen and (min-width:1200px){
    table{
        width: 100%;
        height: 100px;
    }
}
@media only screen and (max-width:1199px){
    table{
        width: 60%;
        height: 100px;
    }
}
@media only screen and (max-width:899px){
    table{
        width: 30%;
        height: 100px;
    }
}
div.loop{
    width: 50px;
    height: 50px;
    background-color: #eb630e;
    border-radius: 3px;
    position: absolute;
    
    animation: looop 3s;
    animation-iteration-count: 20;
    
}
@keyframes looop{
    from   {position: relative; bottom:55%;}     
    to   {bottom: 0;}      
}
